@font-face {
  font-family: myFirstFont;
  src: url(/fonts/GameOfThrones.ttf);
}

html {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
  font-family: myFirstFont;
}
#logo {
  width: 40%;
}
.statusImage {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  border-radius: 10px;
}

.name {
  font-size: 24px;
  margin: 5px;
}

.pdf {
  font-size: 24px;
  margin: 5px;
  color: red;
}

.score {
  font-size: 18px;
  margin: 5px;
}

.expand {
  font-size: 24px;
  margin: 5px;
}

table {
  margin: 50px auto;
  border-collapse: collapse;
  font-size: 12px;
}
th {
  padding-bottom: 40px;
}
tr {
  border-bottom: solid grey 1px;
}
td {
  width: 100px;
}
.Participant {
  margin: 20px;
}
